/* Color palette: https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #264653;
  color: white;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  table-layout: fixed;
  padding-bottom: 10px;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #203b46;
  border: 1px solid black;
}

tr:hover {
  background-color: #1a3038;
  border: 1px solid black;
}

th {
  text-align: center;
  background-color: #2a9d8f;
  color: white;
  padding: 8px;
  border: 2px solid black;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: black;
  font-size: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid black;
  padding: 8px 10px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: #f4a261;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background: #e9c46a;
}

.active-btn {
  background: #e9c46a;
}

.save-btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10px;
  background-color: #f4a261;
  padding: 5px 15px;
  font-size: 10px;
  color: black;
}

.warning-text {
  text-align: center;
  color: #e76f51;
  font-size: 14px;
}

#options-form-div {
  text-align: left;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

#options-form-div form input {
  margin-bottom: 10px;
  background-color: #2a9d8f;
  border: 1px solid black;
  width: 70%;
}

#options-form-div select {
  margin-bottom: 10px;
}

#options-form-language-div select {
  background-color: #2a9d8f;
  border: 1px solid black;
}

.practice-input-box {
  background-color: #2a9d8f;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 70%;
}

#actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 5px;
  border: 1px solid black;
  padding-top: 10px;
}

.icon-check {
  margin-left: 5px;
}
